<script src="copyCode.js"></script>

<header>
  <img class="logo" src="media/logo.png" id="logo">
  <h1>{{title}}</h1>
  <span>( <a href="index-tutorials.html" target="_blank">{{gotoTutorials}}</a>、<a href="https://webduino.io" target="_blank">{{gotoWebSite}}</a> )</span>
  <div id="update">{{update}}</div>
  <select id="languageMenu"></select>
</header>
<table width="100%" height="100%" class="nav">
  <tr>
    <td colspan=2>
      <table width="100%">
        <tr id="tabRow" height="1em">
          <td id="tab_blocks" class="tabon">{{blocks}}</td>
          <td class="tabmin">&nbsp;</td>
          <td id="tab_javascript" class="taboff">JavaScript</td>
          <td id="copyCode" class="jsClick" style="display:none;" data-clipboard-target="content_javascript" data-tooltip="Copy to clipboard"><div><img src="media/copy.png"></div></td>
          <td class="tabmin">&nbsp;</td>
          <td class="tabmax">
            <a href="http://bin.webduino.io/yupu/edit?html,js,output" id="indexLinkToBin" target="_blank"><img src="media/dave.min.svg">{{linkToBin}}</a>
            <button id="demoButton" class="notext" title="{{demoTooltip}}">
              <img src='media/1x1.gif' class="demo icon21">
            </button>
            <button id="trashButton" class="notext" title="{{trashTooltip}}">
              <img src='media/1x1.gif' class="trash icon21">
            </button>
            <button id="linkButton" class="notext" title="{{linkTooltip}}">
              <img src='media/1x1.gif' class="link icon21">
            </button>
            <button id="runButton" class="notext primary" title="{{runTooltip}}">
              <img src='media/1x1.gif' class="run icon21">
            </button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="99%" colspan=2 id="content_area">
    </td>
  </tr>
</table>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<div id="demo-area">
  <div id="demo-resize-bar"></div>
  <div class="demo-area-content">
    <div class="close-btn"></div>
    <h4>{{demoAreaTitle}}</h4>
    <span>{{demoAreaChoose}}</span>
    <select id="demo-select">
      <option value="1">{{demoAreaSelect1}}</option>
      <option value="2">{{demoAreaSelect2}}</option>
      <option value="3">{{demoAreaSelect3}}</option>
      <option value="4">{{demoAreaSelect4}}</option>
      <option value="5">{{demoAreaSelect5}}</option>
      <option value="6">{{demoAreaSelect6}}</option>
      <option value="7">{{demoAreaSelect7}}</option>
    </select>
    <div id="demo-area-01" class="da show">
      <br/>
      <span id="demo-area-01-show">123</span>
      <br/><br/>
      <h5>HTML:</h5>
      <pre class="demo-pre">
&lt;span id=&quot;demo-area-01-show&quot;&gt;要顯示的文字&lt;/span&gt;</pre>
    </div>
    <div id="demo-area-02" class="da">
      <div id="demo-area-02-light" class="off">
        <img src="../media/off.png" id="demo-area-02-off">
        <img src="../media/on.png" id="demo-area-02-on">
      </div>
      <br/>
      <h5>HTML:</h5>
      <pre class="demo-pre">
&lt;div id=&quot;demo-area-02-light&quot; class=&quot;off&quot;&gt;
  &lt;img src=&quot;http://blockly.webduino.io/media/off.png&quot; id=&quot;demo-area-02-off&quot;&gt;
  &lt;img src=&quot;http://blockly.webduino.io/media/on.png&quot; id=&quot;demo-area-02-on&quot;&gt;
&lt;/div&gt;</pre>
      <h5>CSS:</h5>
      <pre class="demo-pre">
#demo-area-02-light img{
  height:200px;
  display:none;
}
#demo-area-02-light.on #demo-area-02-on{
  display:inline-block;
}
#demo-area-02-light.off #demo-area-02-off{
  display:inline-block;
}</pre>
    </div>
    <div id="demo-area-03" class="da">
      <div id="demo-area-03-container">
        <img src="../media/webduino-logo.jpg" id="demo-area-03-image">
      </div>
      <br/>
      <h5>HTML:</h5>
      <pre class="demo-pre">
&lt;div id=&quot;demo-area-03-container&quot;&gt;
  &lt;img src=&quot;../media/webduino-logo.jpg&quot; id=&quot;demo-area-03-image&quot;&gt;
&lt;/div&gt;</pre>
      <h5>CSS:</h5>
      <pre class="demo-pre">
#demo-area-03-container{
  position:relative;
  width:150px;
  height:150px;
}
#demo-area-03-image{
  position:absolute;
  top:0;
  left:0;
  width:150px;
  height:150px;
  transition:.3s;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  transform-origin:75px 75px;
  -webkit-transform-origin:75px 75px;
  -moz-transform-origin:75px 75px;
}</pre>
    </div>
    <div id="demo-area-04" class="da">
      選擇顏色：<input id="demo-area-04-color" type="color">
      <br/>
      <br/>
      <div id="demo-area-04-area"></div>
      <br/><br/>
      <h5>HTML:</h5>
      <pre class="demo-pre">
選擇顏色：&lt;input id=&quot;demo-area-04-color&quot; type=&quot;color&quot;&gt;
&lt;div id=&quot;demo-area-04-area&quot;&gt;&lt;/div&gt;</pre>
    </div>
    <div id="demo-area-05" class="da">
      <button id="demo-area-05-btn1" class="db5">{{demoAreaBtn1}}</button>
      <button id="demo-area-05-btn2" class="db5">{{demoAreaBtn2}}</button>
      <button id="demo-area-05-btn3" class="db5">{{demoAreaBtn3}}</button>
      <button id="demo-area-05-btn4" class="db5">{{demoAreaBtn4}}</button>
      <button id="demo-area-05-btn5" class="db5">{{demoAreaBtn5}}</button>
      <br/><br/>
      <h5>HTML:</h5>
      <pre class="demo-pre">
&lt;button id=&quot;demo-area-05-btn1&quot; class=&quot;db5&quot;&gt;&#25353;&#37397; 1&lt;/button&gt;
&lt;button id=&quot;demo-area-05-btn2&quot; class=&quot;db5&quot;&gt;&#25353;&#37397; 2&lt;/button&gt;
&lt;button id=&quot;demo-area-05-btn3&quot; class=&quot;db5&quot;&gt;&#25353;&#37397; 3&lt;/button&gt;
&lt;button id=&quot;demo-area-05-btn4&quot; class=&quot;db5&quot;&gt;&#25353;&#37397; 4&lt;/button&gt;
&lt;button id=&quot;demo-area-05-btn5&quot; class=&quot;db5&quot;&gt;&#25353;&#37397; 5&lt;/button&gt;</pre>
    </div>
    <div id="demo-area-06" class="da">
      數值：<span id="demo-area-06-input-value">90</span>
      <br/>
      拉霸：<input type="range" min="0" max="180" step="5" value="90" id="demo-area-06-input">
      <br/><br/>
      <h5>HTML:</h5>
      <pre class="demo-pre">
&#25976;&#20540;&#65306;&lt;span id=&quot;demo-area-06-input-value&quot;&gt;90&lt;/span&gt;
&#25289;&#38712;&#65306;&lt;input type=&quot;range&quot; min=&quot;0&quot; max=&quot;180&quot; step=&quot;5&quot; value=&quot;90&quot; id=&quot;demo-area-06-input&quot;&gt;</pre>
    </div>
    <div id="demo-area-07" class="da">
      <div id="player"></div>
      <span style="font-size:12px;">{{demoAreaYoutube1}}<br/>{{demoAreaYoutube2}}<strong>https://www.youtube.com/iframe_api</strong></span>
      <br/><br/>
      <h5>HTML:</h5>
      <pre class="demo-pre">
&lt;div id=&quot;player&quot;&gt;&lt;/div&gt;</pre>
    </div>
  </div>
</div>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<xml id="toolbox" style="display: none">
  <category id="catVariables" custom="VARIABLE"></category>
  <category id="catFunctions" custom="PROCEDURE"></category>
  <category id="catStandard">
    <category id="catLogic">
      <block type="controls_if"></block>
      <block type="logic_compare"></block>
      <block type="logic_operation"></block>
      <block type="logic_negate"></block>
      <block type="logic_boolean"></block>
      <block type="logic_null"></block>
      <block type="logic_ternary"></block>
    </category>
    <category id="catLoops">
      <block type="controls_repeat_ext">
        <value name="TIMES">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
      </block>
      <block type="controls_whileUntil"></block>
      <block type="controls_for">
        <value name="FROM">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="TO">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
        <value name="BY">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
      <block type="controls_forEach"></block>
      <block type="controls_flow_statements"></block>
    </category>
    <category id="catMath">
      <block type="math_number"></block>
      <block type="math_arithmetic"></block>
      <block type="math_single"></block>
      <block type="math_trig"></block>
      <block type="math_constant"></block>
      <block type="math_number_property"></block>
      <block type="math_change">
        <value name="DELTA">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
      <block type="math_round"></block>
      <block type="math_round_digit"></block>
      <block type="math_on_list"></block>
      <block type="math_modulo"></block>
      <block type="math_constrain">
        <value name="LOW">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="HIGH">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_int">
        <value name="FROM">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <value name="TO">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="math_random_float"></block>
    </category>
    <category id="catText">
      <block type="text_print"></block>
      <block type="text"></block>
      <block type="text_join"></block>
      <block type="text_append">
        <value name="TEXT">
          <block type="text"></block>
        </value>
      </block>
      <block type="text_length"></block>
      <block type="text_isEmpty"></block>
      <block type="text_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR" class="textVar">{{textVariable}}</field>
          </block>
        </value>
      </block>
      <block type="text_charAt">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR" class="textVar">{{textVariable}}</field>
          </block>
        </value>
      </block>
      <block type="text_getSubstring">
        <value name="STRING">
          <block type="variables_get">
            <field name="VAR" class="textVar">{{textVariable}}</field>
          </block>
        </value>
      </block>
      <block type="text_changeCase"></block>
      <block type="text_trim"></block>
      <block type="text_prompt_ext">
        <value name="TEXT">
          <block type="text"></block>
        </value>
      </block>
    </category>
    <category id="catLists">
      <block type="lists_create_empty"></block>
      <block type="lists_create_with"></block>
      <block type="lists_repeat">
        <value name="NUM">
          <block type="math_number">
            <field name="NUM">5</field>
          </block>
        </value>
      </block>
      <block type="lists_length"></block>
      <block type="lists_isEmpty"></block>
      <block type="lists_indexOf">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR" class="listVar">{{listVariable}}</field>
          </block>
        </value>
      </block>
      <block type="lists_getIndex">
        <value name="VALUE">
          <block type="variables_get">
            <field name="VAR" class="listVar">{{listVariable}}</field>
          </block>
        </value>
      </block>
      <block type="lists_setIndex">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR" class="listVar">{{listVariable}}</field>
          </block>
        </value>
      </block>
      <block type="lists_getSublist">
        <value name="LIST">
          <block type="variables_get">
            <field name="VAR" class="listVar">{{listVariable}}</field>
          </block>
        </value>
      </block>
      <block type="lists_split">
        <value name="DELIM">
          <block type="text">
            <field name="TEXT">,</field>
          </block>
        </value>
      </block>
    </category>
    <category id="catColour">
      <block type="colour_picker"></block>
      <block type="colour_random"></block>
      <block type="colour_rgb">
        <value name="RED">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
        <value name="GREEN">
          <block type="math_number">
            <field name="NUM">50</field>
          </block>
        </value>
        <value name="BLUE">
          <block type="math_number">
            <field name="NUM">0</field>
          </block>
        </value>
      </block>
      <block type="colour_blend">
        <value name="COLOUR1">
          <block type="colour_picker">
            <field name="COLOUR">#ff0000</field>
          </block>
        </value>
        <value name="COLOUR2">
          <block type="colour_picker">
            <field name="COLOUR">#3333ff</field>
          </block>
        </value>
        <value name="RATIO">
          <block type="math_number">
            <field name="NUM">0.5</field>
          </block>
        </value>
      </block>
    </category>
  <sep></sep>  
  </category>
  <category id="catPlus">
    <category id="catConsole">
      <block type="console"></block>
      <block type="getdate"></block>
      <block type="gettime"></block>
      <block type="temp_data_set">
        <value name="name_">
          <block type="text">
            <field name="TEXT">temp</field>
          </block>
        </value>
      </block>
      <block type="temp_data_get">
        <value name="name_">
          <block type="text">
            <field name="TEXT">temp</field>
          </block>
        </value>
      </block>
    </category>
    <category id="catExec">
      <block type="timer"></block>
      <block type="delay"></block>
    </category>
    <category id="catRepeat">
      <block type="status_repeat">
        <value name="times_">
          <block type="math_number">
            <field name="NUM">10</field>
          </block>
        </value>
      </block>
      <block type="status_repeat_forever">
        <value name="name_">
          <block type="variables_get">
            <field name="VAR">timer</field>
          </block>
        </value>
      </block>
      <block type="status_repeat_stop"></block>
    </category>
    <category id="catKeyCode">
        <block type="document_onkeydown"></block>
        <block type="document_alphabet_keycode"></block>
        <block type="document_other_keycode"></block>
        <block type="document_onkeydown_stop"></block>
    </category>
    <category id="catSpeech">
      <block type="sound_recognition"></block>
      <block type="sound_recognition_check">
        <value name="text_">
          <block type="text">
            <field name="TEXT"></field>
          </block>
        </value>
      </block>
      <block type="sound_recognition_text"></block>
      <block type="sound_recognition_stop"></block>
      <block type="translate_speech">
        <value name="speech_">
          <block type="text">
            <field name="TEXT"></field>
          </block>
        </value>
      </block>
    </category>
  <sep></sep>  
  </category>
  <sep></sep>
  <category id="catBoard">
    <block type="board_ready">
      <value name="device_">
        <block type="text"></block>
      </value>
    </block>
    <block type="board_ready_serial_port">
      <value name="path_">
        <block type="text"></block>
      </value>
      <value name="baudrate_">
        <block type="math_number">
          <field name="NUM">57600</field>
        </block>
      </value>
    </block>
    <block type="all_board_ready"></block>
    <block type="board_query_pin_state"></block>
    <block type="board_pin_state"></block>
    <block type="board_error">
      <value name="device_">
        <block type="text"></block>
      </value>
    </block>
  </category>
  <category id="catMenu1">
    <category id="catLed">
      <block type="variables_set">
        <field name="VAR">led</field>
        <value name="VALUE">
          <block type="led_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="led_state">
        <field name="led_">led</field>
      </block>
      <block type="led_toggle">
        <field name="led_">led</field>
      </block>
      <block type="led_intensity">
        <field name="led_">led</field>
        <value name="intensity_">
          <block type="math_number">
            <field name="NUM">0.5</field>
          </block>
        </value>
      </block>
      <block type="led_callback"></block>
    </category>
    <category id="catRGBLed">
      <block type="variables_set">
        <field name="VAR">rgbled</field>
        <value name="VALUE">
          <block type="rgbled_new">
            <field name="red_">6</field>
            <field name="green_">9</field>
            <field name="blue_">10</field>
          </block>
        </value>
      </block>
      <block type="rgbled_setcolor">
        <field name="rgbled_">rgbled</field>
        <value name="color_">
          <block type="colour_picker">
            <field name="COLOUR">#ff0000</field>
          </block>
        </value>
      </block>
    </category>
    <category id="catBuzzer">
      <block type="variables_set">
        <field name="VAR">buzzer</field>
        <value name="VALUE">
          <block type="buzzer_new">
            <field name="pin_">11</field>
          </block>
        </value>
      </block>
      <block type="buzzer_load_music"></block>
      <block type="buzzer_music">
        <value name="music_name_">
          <block type="variables_get">
            <field name="VAR">music</field>
          </block>
        </value>
      </block>
      <block type="buzzer_notes_tempos"></block>
      <block type="buzzer_music_array">
        <value name="music_name_">
          <block type="variables_get">
            <field name="VAR">music</field>
          </block>
        </value>
        <value name="notes_">
          <block type="text">
            <field name="TEXT">C6,D6,E6,F6,G6,A6,B6</field>
          </block>
        </value>
        <value name="tempos_">
          <block type="text">
            <field name="TEXT">8</field>
          </block>
        </value>
      </block>
      <block type="buzzer_play">
        <value name="play_music_">
          <block type="variables_get">
            <field name="VAR">music</field>
          </block>
        </value>
      </block>
      <block type="buzzer_single"></block>
      <block type="buzzer_event"></block>
      <block type="buzzer_state"></block>
    </category>
    <category id="catRelay">
      <block type="variables_set">
        <field name="VAR">relay</field>
        <value name="VALUE">
          <block type="relay_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="relay_state">
        <field name="relay_">relay</field>
      </block>
    </category>
    <category id="catServo">
      <block type="variables_set">
        <field name="VAR">servo</field>
        <value name="VALUE">
          <block type="servo_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="servo_angle"></block>
      <block type="servo_angle_set">
        <value name="angle_">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
    </category>
    <category id="catMax7219">
      <block type="variables_set">
        <field name="VAR">matrix</field>
        <value name="VALUE">
          <block type="max7219_new">
            <field name="din_">9</field>
            <field name="cs_">10</field>
            <field name="clk_">11</field>
          </block>
        </value>
      </block>
      <block type="max7219_draw">
        <value name="code_">
          <block type="text">
            <field name="TEXT">1026464040462610</field>
          </block>
        </value>
      </block>
      <block type="max7219_animate">
        <value name="times_">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
        <value name="list_">
          <block type="lists_create_with"></block>
        </value>
      </block>
      <block type="max7219_animate_horse">
        <value name="times_">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
        <value name="code_">
          <block type="text">
            <field name="TEXT">1026464040462610</field>
          </block>
        </value>
      </block>
      <block type="max7219_stop"></block>
      <block type="max7219_off"></block>
    </category>
    <category id="catIRLed">
      <block type="variables_set">
        <field name="VAR">irled</field>
        <value name="VALUE">
          <block type="irled_new">
            <field name="pin_">9</field>
          </block>
        </value>
      </block>
      <block type="irled_launch">
        <value name="code_">
          <block type="text">
            <field name="TEXT"></field>
          </block>
        </value>
      </block>
    </category>
    <category id="catIRRecv">
      <block type="variables_set">
        <field name="VAR">irrecv</field>
        <value name="VALUE">
          <block type="irrecv_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="irrecv_on"></block>
      <block type="irrecv_val"></block>
      <block type="irrecv_off"></block>
    </category>
    <category id="catButton">
      <block type="variables_set">
        <field name="VAR">button</field>
        <value name="VALUE">
          <block type="button_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="button_event"></block>
    </category>
    <category id="catShock">
      <block type="variables_set">
        <field name="VAR">shock</field>
        <value name="VALUE">
          <block type="shock_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="shock_event"></block>
    </category>
  <sep></sep>
  </category>
  <category id="catMenu2">
    <category id="catUltraSonic">
      <block type="variables_set">
        <field name="VAR">ultrasonic</field>
        <value name="VALUE">
          <block type="ultrasonic_new">
            <field name="trig_">11</field>
            <field name="echo_">10</field>
          </block>
        </value>
      </block>
      <block type="ultrasonic_get">
        <value name="time">
          <block type="math_number">
            <field name="NUM">500</field>
          </block>
        </value>
      </block>
      <block type="ultrasonic_get_promise"></block>
      <block type="ultrasonic_distance"></block>
    </category>
    <category id="catDht">
      <block type="variables_set">
        <field name="VAR">dht</field>
        <value name="VALUE">
          <block type="dht_new">
            <field name="pin_">11</field>
          </block>
        </value>
      </block>
      <block type="dht_get">
        <value name="time">
          <block type="math_number">
            <field name="NUM">1000</field>
          </block>
        </value>
      </block>
      <block type="dht_get_number"></block>
    </category>
    <category id="catPir">
      <block type="variables_set">
        <field name="VAR">pir</field>
        <value name="VALUE">
          <block type="pir_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="pir_status"></block>
    </category>
    <category id="catSound">
      <block type="variables_set">
        <field name="VAR">sound</field>
        <value name="VALUE">
          <block type="sound_new">
            <field name="pin_">10</field>
          </block>
        </value>
      </block>
      <block type="sound_status"></block>
    </category>
    <category id="catPhotocell">
      <block type="variables_set">
        <field name="VAR">photocell</field>
        <value name="VALUE">
          <block type="photocell_new">
            <field name="pin_">5</field>
          </block>
        </value>
      </block>
      <block type="photocell_detected"></block>
      <block type="photocell_val"></block>
      <block type="photocell_stop"></block>
    </category>
    <category id="catADXL345">
      <block type="variables_set">
        <field name="VAR">adxl</field>
        <value name="VALUE">
          <block type="adxl345_new">
            <field name="sda_">4</field>
            <field name="scl_">5</field>
          </block>
        </value>
      </block>
      <block type="adxl345_on"></block>
      <block type="adxl345_val"></block>
      <block type="adxl345_off"></block>
    </category>
  <sep></sep>
  </category>
  <category id="catMenu3">
    <category id="catCar">
      <block type="variables_set">
        <field name="VAR">car</field>
        <value name="VALUE">
          <block type="car_new">
            <field name="f_">9</field>
            <field name="b_">8</field>
            <field name="l_">6</field>
            <field name="r_">7</field>
          </block>
        </value>
      </block>
      <block type="car_move">
        <field name="car_">car</field>
        <field name="move_">forward</field>
        <value name="secs_">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
    </category>
    <category id="catCarTest">
      <block type="car_test_new">
        <value name="var_">
          <block type="variables_get">
            <field name="VAR">car</field>
          </block>
        </value>
        <field name="rf_">8</field>
        <field name="rb_">9</field>
        <field name="lf_">7</field>
        <field name="lb_">6</field>
      </block>
      <block type="car_test_move"></block>
    </category>
    <category id="catFish">
      <block type="variables_set">
        <field name="VAR">fish</field>
        <value name="VALUE">
          <block type="fish_new"></block>
        </value>
      </block>
      <block type="fish_angle">
        <field name="fish_">fish</field>
        <field name="angle_">soar</field>
        <value name="secs_">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
      <block type="fish_move">
        <field name="fish_">fish</field>
        <field name="direction_"></field>
        <value name="secs_">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
        <field name="speed_">2</field>
      </block>
    </category>
  <sep></sep>
  </category>
  <category id="catDatabase">
    <category id="catFirebase">
      <block type="data_firebase">
        <value name="name_">
          <block type="variables_get">
            <field name="VAR">myFirebase</field>
          </block>
        </value>
      </block>
      <block type="data_firebase_write"></block>
      <block type="data_firebase_data"></block>
      <block type="data_firebase_read">
        <value name="read_">
          <block type="variables_get">
            <field name="VAR">val</field>
          </block>
        </value>
      </block>
      <block type="data_firebase_readonce">
        <value name="read_">
          <block type="variables_get">
            <field name="VAR">val</field>
          </block>
        </value>
      </block>
      <block type="data_firebase_clear"></block>
    </category>
    <sep></sep>
  </category>
  <sep></sep>
  <category id="catDemo">
    <category id="catDemoText">
      <block type="demo_show_text"></block>
      <block type="demo_text_size">
        <value name="size_">
          <block type="math_number">
            <field name="NUM">20</field>
          </block>
        </value>
      </block>
      <block type="demo_text_lineheight">
        <value name="lineheight_">
          <block type="math_number">
            <field name="NUM">20</field>
          </block>
        </value>
      </block>
      <block type="demo_text_color">
          <value name="color_">
            <block type="colour_picker">
              <field name="COLOUR">#ff0000</field>
            </block>
          </value>
      </block>
    </category>
    <category id="catDemoLight">
      <block type="demo_light_click"></block>
      <block type="demo_light_state"></block>
      <block type="demo_light_ifelse"></block>
      <block type="demo_light_toggle"></block>
    </category>
    <category id="catDemoImage">
      <block type="demo_image_url">
        <value name="url_">
          <block type="text">
            <field name="TEXT">圖片網址</field>
          </block>
        </value>
      </block>
      <block type="demo_image_size">
        <value name="w_">
          <block type="math_number">
            <field name="NUM">200</field>
          </block>
        </value>
        <value name="h_">
          <block type="math_number">
            <field name="NUM">200</field>
          </block>
        </value>
      </block>
      <block type="demo_image_rotate">
        <value name="deg_">
          <block type="math_number">
            <field name="NUM">0</field>
          </block>
        </value>
      </block>
      <block type="demo_image_position">
        <value name="position_">
          <block type="math_number">
            <field name="NUM">0</field>
          </block>
        </value>
      </block>
      <block type="demo_image_opacity">
        <value name="opacity_">
          <block type="math_number">
            <field name="NUM">1</field>
          </block>
        </value>
      </block>
    </category>
    <category id="catDemoArea">
      <block type="demo_area_input"></block>
      <block type="demo_area_input_color"></block>
      <block type="demo_area_color">
          <value name="color_">
            <block type="colour_picker">
              <field name="COLOUR">#ff0000</field>
            </block>
          </value>
      </block>
    </category>
    <category id="catDemoButton">
      <block type="demo_button_click"></block>
    </category>
    <category id="catDemoRange">
      <block type="demo_range_set">
        <value name="min_">
          <block type="math_number">
            <field name="NUM">0</field>
          </block>
        </value>
        <value name="max_">
          <block type="math_number">
            <field name="NUM">180</field>
          </block>
        </value>
        <value name="step_">
          <block type="math_number">
            <field name="NUM">5</field>
          </block>
        </value>
        <value name="value_">
          <block type="math_number">
            <field name="NUM">90</field>
          </block>
        </value>
      </block>
      <block type="demo_range_show"></block>
      <block type="demo_range_input_value"></block>
    </category>
    <category id="catDemoYoutube">
      <block type="demo_youtube">
        <value name="name_">
          <block type="variables_get">
            <field name="VAR">youtube</field>
          </block>
        </value>
      </block>
      <block type="demo_youtube_id">
        <value name="id_">
            <block type="text">
              <field name="TEXT">...</field>
            </block>
        </value>
      </block>
      <block type="demo_youtube_control"></block>
      <block type="demo_youtube_status"></block>
      <block type="demo_youtube_volume">
        <value name="volume_">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="demo_youtube_speed"></block>
    </category>
  </category>
</xml>
