<link rel="stylesheet" href="css/tutorials.css">

<style>
  #show{
    font-size:120px;
  }
</style>

<header>
  <a href="index.html" title="Webduino Blockly"><img class="logo" src="media/logo.png"></a>
  <h1>Webduino Blockly {{subTitle}}</h1>
  <span>( <a href="index-tutorials.html" target="_blank">{{backIndex}}</a> )</span>
  <div id="update">{{update}}</div>
  <select id="languageMenu"></select>
</header>
<div id="demoArea">
<a href="https://webduino.io/" id="cuteman01" target="_blank"></a>
<div id="demoTitle">{{demoTitle}}</div>
  <a href="http://bin.webduino.io/jara/6/edit?html,js,output" id="linkToBin" target="_blank"><img src="media/dave.min.svg">{{linkToBin}}</a>

<div id="demoDescription">{{demoDescription}}</div>
  <a href="http://webduinoio.github.io/samples/content/max7219/genLED.html" target="_blank">genLED.html</a>
  <div id="show">0</div>
</div>
<table id="tutorials-table" class="nav">
<tr>
  <td colspan=2>
    <table width="100%">
      <tr id="tabRow" height="1em">
        <td id="tab_blocks" class="tabon">{{blocks}}</td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_javascript" class="taboff">JavaScript</td>
          <td id="copyCode" class="jsClick" style="display:none;" data-clipboard-target="#content_javascript" data-tooltip="Copy to clipboard"><div><img src="media/copy.png"></div></td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_xml" class="taboff" style="display:none;">XML</td>
        <td class="tabmax">
          <div id="check-device-online">
            <input id="input-device" class="">
            <span id="check-btn" class="check-btn" title="{{checkDeviceOnline}}">
              <i id="check-icon" class="check icon21"></i>
            </span>
          </div>
          <button id="trashButton" class="notext" title="{{trashTooltip}}">
            <img src='media/1x1.gif' class="trash icon21">
          </button>
          <button id="linkButton" class="notext" title="{{linkTooltip}}">
            <img src='media/1x1.gif' class="link icon21">
          </button>
          <button id="runButton" class="notext primary" title="{{runTooltip}}">
            <img src='media/1x1.gif' class="run icon21">
          </button>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="99%" colspan=2 id="content_area">
  </td>
</tr>
</table>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<xml id="toolbox" style="display: none">
<category id="catVariables" custom="VARIABLE"></category>
  <category id="catLogic">
    <block type="controls_if"></block>
    <block type="logic_compare"></block>
    <block type="logic_operation"></block>
  </category>
  <category id="catMath">
    <block type="math_number"></block>
  </category>
  <category id="catText">
    <block type="text"></block>
  </category>
  <category id="catLists">
    <block type="lists_create_with"></block>
  </category>
<sep></sep>
<category id="catBoard">
  <block type="board_ready">
    <value name="device_">
      <block type="text"></block>
    </value>
  </block>
</category>
<category id="catMax7219">
  <block type="variables_set">
    <field name="VAR">matrix</field>
    <value name="VALUE">
      <block type="max7219_new">
        <field name="din_">9</field>
        <field name="cs_">10</field>
        <field name="clk_">11</field>
      </block>
    </value>
  </block>
  <block type="max7219_draw">
    <value name="code_">
      <block type="text">
        <field name="TEXT">1026464040462610</field>
      </block>
    </value>
  </block>
  <block type="max7219_animate">
    <value name="times_">
      <block type="math_number">
        <field name="NUM">100</field>
      </block>
    </value>
    <value name="list_">
      <block type="lists_create_with"></block>
    </value>
  </block>
  <block type="max7219_animate_horse">
    <value name="times_">
      <block type="math_number">
        <field name="NUM">100</field>
      </block>
    </value>
    <value name="code_">
      <block type="text">
        <field name="TEXT">1026464040462610</field>
      </block>
    </value>
  </block>
  <block type="max7219_stop"></block>
  <block type="max7219_off"></block>
</category>
  <category id="catUltraSonic">
    <block type="variables_set">
      <field name="VAR">ultrasonic</field>
      <value name="VALUE">
        <block type="ultrasonic_new">
          <field name="trig_">11</field>
          <field name="echo_">10</field>
        </block>
      </value>
    </block>
    <block type="ultrasonic_get">
      <value name="time">
        <block type="math_number">
          <field name="NUM">500</field>
        </block>
      </value>
    </block>
    <block type="ultrasonic_distance"></block>
  </category>
  <category id="catTutorials">
    <block type="ultrasonic_set_number"></block>
  </category>
<sep></sep>
</xml>