<link rel="stylesheet" href="tutorials.css">

<style>
#light{
  width:60%;
}
#light img{
  width:100%;
  display:none;
}
#light.off img:first-child{
  display:inline-block;
}
#light.on img:last-child{
  display:inline-block; 
}
</style>

<header>
  <img class="logo" src="media/logo.png">
  <h1>Webduino Blockly {{subTitle}}</h1>
  <span>( <a href="index-tutorials.html" target="_blank">{{backIndex}}</a> )</span>
  <div id="update">{{update}}</div>
  <select id="languageMenu"></select>
</header>
<div id="demoArea">
<a href="https://webduino.io/" id="cuteman01" target="_blank"></a>
<div id="demoTitle">{{demoTitle}}</div>
<a href="http://bin.webduino.io/pudo/edit?html,css,js,output" id="linkToBin" target="_blank"><img src="media/dave.min.svg">{{linkToBin}}</a>
<div id="demoDescription">{{demoDescription}}</div>
<div id="light" class="off">
  <img src='http://i.imgur.com/T5H4MHE.png'></img>
  <img src='http://i.imgur.com/8qFj2Ou.png'></img>
</div>
</div>
<table id="tutorials-table">
<tr>
  <td colspan=2>
    <table width="100%">
      <tr id="tabRow" height="1em">
        <td id="tab_blocks" class="tabon">{{blocks}}</td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_javascript" class="taboff">JavaScript</td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_xml" class="taboff" style="display:none;">XML</td>
        <td class="tabmax">
          <button id="trashButton" class="notext" title="{{trashTooltip}}">
            <img src='media/1x1.gif' class="trash icon21">
          </button>
          <button id="linkButton" class="notext" title="{{linkTooltip}}">
            <img src='media/1x1.gif' class="link icon21">
          </button>
          <button id="runButton" class="notext primary" title="{{runTooltip}}">
            <img src='media/1x1.gif' class="run icon21">
          </button>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="99%" colspan=2 id="content_area">
  </td>
</tr>
</table>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<xml id="toolbox" style="display: none">
<category id="catVariables" custom="VARIABLE"></category>
<sep></sep>
<category id="catBoard">
  <block type="board_ready">
    <value name="device_">
      <block type="text"></block>
    </value>
  </block>
</category>
<category id="catPir">
  <block type="variables_set">
    <field name="VAR">pir</field>
    <value name="VALUE">
      <block type="pir_new">
        <field name="pin_">10</field>
      </block>
    </value>
  </block>
  <block type="pir_status"></block>
</category>
<category id="catTutorials">
  <block type="light"></block>
</category>
<sep></sep>
</xml>