<link rel="stylesheet" href="css/tutorials.css">

<style>
  #show{
    font-size:50px;
  }
</style>

<header>
  <a href="index.html" title="Webduino Blockly"><img class="logo" src="media/logo.png"></a>
  <h1>Webduino Blockly {{subTitle}}</h1>
  <span>( <a href="index-tutorials.html" target="_blank">{{backIndex}}</a> )</span>
  <div id="update">{{update}}</div>
  <select id="languageMenu"></select>
</header>
<div id="demoArea">
<a href="https://webduino.io/" id="cuteman01" target="_blank"></a>
  <div id="demoTitle">{{demoTitle}}</div>
  <a href="http://bin.webduino.io/tefod/7/edit?html,css,js,output" id="linkToBin" target="_blank"><img src="media/dave.min.svg">{{linkToBin}}</a>
  <div id="demoDescription">{{demoDescription}}</div>
  <div id="show">show</div>
  <div id="player"></div>
</div>
<table id="tutorials-table" class="nav">
<tr>
  <td colspan=2>
    <table width="100%">
      <tr id="tabRow" height="1em">
        <td id="tab_blocks" class="tabon">{{blocks}}</td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_javascript" class="taboff">JavaScript</td>
          <td id="copyCode" class="jsClick" style="display:none;" data-clipboard-target="#content_javascript" data-tooltip="Copy to clipboard"><div><img src="media/copy.png"></div></td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_xml" class="taboff" style="display:none;">XML</td>
        <td class="tabmax">
          <div id="check-device-online">
            <input id="input-device" class="">
            <span id="check-btn" class="check-btn" title="{{checkDeviceOnline}}">
              <i id="check-icon" class="check icon21"></i>
            </span>
          </div>
          <button id="trashButton" class="notext" title="{{trashTooltip}}">
            <img src='media/1x1.gif' class="trash icon21">
          </button>
          <button id="linkButton" class="notext" title="{{linkTooltip}}">
            <img src='media/1x1.gif' class="link icon21">
          </button>
          <button id="runButton" class="notext primary" title="{{runTooltip}}">
            <img src='media/1x1.gif' class="run icon21">
          </button>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="99%" colspan=2 id="content_area">
  </td>
</tr>
</table>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<xml id="toolbox" style="display: none">
  <category id="catVariables" custom="VARIABLE"></category>
  <sep></sep>
  <sep></sep>
  <category id="catBoard">
    <block type="board_ready">
      <value name="device_">
        <block type="text"></block>
      </value>
    </block>
  </category>
    <category id="catRFID">
      <block type="variables_set">
        <field name="VAR">rfid</field>
        <value name="VALUE">
          <block type="rfid_new">
            <field name="sda_">10</field>
            <field name="sck_">13</field>
            <field name="mosi_">11</field>
            <field name="miso_">12</field>
          </block>
        </value>
      </block>
      <block type="rfid_enter"></block>
      <block type="rfid_uid"></block>
      <block type="rfid_if">
        <value name="uid_">
            <block type="text">
              <field name="TEXT">...</field>
            </block>
        </value>
      </block>
      <block type="rfid_leave"></block>
    </category>
    <category id="catDemoYoutube">
      <block type="demo_youtube">
        <value name="name_">
          <block type="variables_get">
            <field name="VAR">youtube</field>
          </block>
        </value>
      </block>
      <block type="demo_youtube_id">
        <value name="id_">
            <block type="text">
              <field name="TEXT">...</field>
            </block>
        </value>
      </block>
      <block type="demo_youtube_control"></block>
      <block type="demo_youtube_status"></block>
      <block type="demo_youtube_volume">
        <value name="volume_">
          <block type="math_number">
            <field name="NUM">100</field>
          </block>
        </value>
      </block>
      <block type="demo_youtube_speed"></block>
    </category>
  <category id="catTutorials">
    <block type="tutorial_rfid_code"></block>
  </category>
  <sep></sep>
</xml>