<link rel="stylesheet" href="css/tutorials.css">

<style>
  #demoArea button{
    display:inline-block;
    width:80px;
    height:50px;
    font-size:16px;
    line-height:48px;
    margin:5px;
    outline: none;
  }
  #redBtn{
    color:#f00;
  }
  #greenBtn{
    color:#0a0;
  }
  #blueBtn{
    color:#00f;
  }
  #show{
    width:80%;
    height:150px;
    border:1px solid #000;
    background:#ccc;
    margin:15px 5px;
  }
</style>

<header>
  <a href="index.html" title="Webduino Blockly"><img class="logo" src="media/logo.png"></a>
  <h1>Webduino Blockly {{subTitle}}</h1>
  <span>( <a href="index-tutorials.html" target="_blank">{{backIndex}}</a> )</span>
  <div id="update">{{update}}</div>
  <select id="languageMenu"></select>
</header>
<div id="demoArea">
<a href="https://webduino.io/" id="cuteman01" target="_blank"></a>
  <div id="demoTitle">{{demoTitle}}</div>
  <a href="launcher.html" id="linkToBin" class="demoLinktoBin" target="_blank"><img src="media/dave.min.svg">{{linkToBin}}</a>
  <div id="demoDescription">{{demoDescription}}</div>
  <button id="redBtn">RED</button>
  <button id="greenBtn">GREEN</button>
  <button id="blueBtn">BLUE</button>
  <button id="clearBtn">CLEAR</button>
  <div id="show"></div>
</div>
<table id="tutorials-table" class="nav">
<tr>
  <td colspan=2>
    <table width="100%">
      <tr id="tabRow" height="1em">
        <td id="tab_blocks" class="tabon">{{blocks}}</td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_javascript" class="taboff">JavaScript</td>
          <td id="copyCode" class="jsClick" style="display:none;" data-clipboard-target="#content_javascript" data-tooltip="Copy to clipboard"><div><img src="media/copy.png"></div></td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_xml" class="taboff" style="display:none;">XML</td>
        <td class="tabmax">
          <div id="check-device-online">
            <input id="input-device" class="">
            <span id="check-btn" class="check-btn" title="{{checkDeviceOnline}}">
              <i id="check-icon" class="check icon21"></i>
            </span>
          </div>
          <button id="trashButton" class="notext" title="{{trashTooltip}}">
            <img src='media/1x1.gif' class="trash icon21">
          </button>
          <button id="linkButton" class="notext" title="{{linkTooltip}}">
            <img src='media/1x1.gif' class="link icon21">
          </button>
          <button id="runButton" class="notext primary" title="{{runTooltip}}">
            <img src='media/1x1.gif' class="run icon21">
          </button>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="99%" colspan=2 id="content_area">
  </td>
</tr>
</table>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<xml id="toolbox" style="display: none">
  <category id="catVariables" custom="VARIABLE"></category>
  <sep></sep>
  <category id="catColour">
    <block type="colour_picker"></block>
  </category>
  <sep></sep>
  <category id="catBoard">
    <block type="board_server">
      <value name="server_">
        <block type="text"></block>
      </value>
    </block>
    <block type="board_ready">
      <value name="device_">
        <block type="text"></block>
      </value>
    </block>
  </category>
  <category id="catRGBLed">
    <block type="variables_set">
      <field name="VAR">rgbled</field>
      <value name="VALUE">
        <block type="rgbled_new">
          <field name="red_">6</field>
          <field name="green_">9</field>
          <field name="blue_">10</field>
        </block>
      </value>
    </block>
    <block type="rgbled_setcolor">
      <field name="rgbled_">rgbled</field>
    </block>
  </category>
  <category id="catTutorials">
    <block type="rgb_led_area_color"></block>
    <block type="rgb_led_btn_click"></block>
  </category>
  <sep></sep>
</xml>