<link rel="stylesheet" href="tutorials.css">

<style>
#demoArea button{
  font-size:16px;
  margin:5px;
  padding:10px;
}
</style>

<header>
  <img class="logo" src="media/logo.png">
  <h1>Webduino Blockly {{subTitle}}</h1>
  <span>( <a href="index-tutorials.html" target="_blank">{{backIndex}}</a> )</span>
  <div id="update">{{update}}</div>
  <select id="languageMenu"></select>
</header>
<div id="demoArea">
<a href="https://webduino.io/" id="cuteman01" target="_blank"></a>
<div id="demoTitle">{{demoTitle}}</div>
  <a href="http://bin.webduino.io/weso/edit?html,css,js,output" id="linkToBin" target="_blank"><img src="media/dave.min.svg">{{linkToBin}}</a>
<div id="demoDescription">{{demoDescription}}</div>
  <button id="btnLeft90">{{btnLeft90}}</button>
  <button id="btnLeft60">{{btnLeft60}}</button>
  <button id="btnLeft30">{{btnLeft30}}</button><br/>
  <button id="btnCenter">{{btnCenter}}</button><br/>
  <button id="btnRight30">{{btnRight30}}</button>
  <button id="btnRight60">{{btnRight60}}</button>
  <button id="btnRight90">{{btnRight90}}</button>
</div>
<table id="tutorials-table">
<tr>
  <td colspan=2>
    <table width="100%">
      <tr id="tabRow" height="1em">
        <td id="tab_blocks" class="tabon">{{blocks}}</td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_javascript" class="taboff">JavaScript</td>
        <td class="tabmin">&nbsp;</td>
        <td id="tab_xml" class="taboff" style="display:none;">XML</td>
        <td class="tabmax">
          <button id="trashButton" class="notext" title="{{trashTooltip}}">
            <img src='media/1x1.gif' class="trash icon21">
          </button>
          <button id="linkButton" class="notext" title="{{linkTooltip}}">
            <img src='media/1x1.gif' class="link icon21">
          </button>
          <button id="runButton" class="notext primary" title="{{runTooltip}}">
            <img src='media/1x1.gif' class="run icon21">
          </button>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="99%" colspan=2 id="content_area">
  </td>
</tr>
</table>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<xml id="toolbox" style="display: none">
<category id="catVariables" custom="VARIABLE"></category>
<sep></sep>
<category id="catBoard">
  <block type="board_ready">
    <value name="device_">
      <block type="text"></block>
    </value>
  </block>
</category>
  <category id="catServo">
    <block type="variables_set">
      <field name="VAR">servo</field>
      <value name="VALUE">
        <block type="servo_new">
          <field name="pin_">10</field>
        </block>
      </value>
    </block>
    <block type="servo_angle"></block>
    <block type="servo_angle_set">
      <value name="angle_">
        <block type="math_number">
          <field name="NUM">1</field>
        </block>
      </value>
    </block>
  </category>
<category id="catTutorials">
  <block type="tutorial_servo_button"></block>
</category>
<sep></sep>
</xml>